


<div class="container-fluid" >
  <div style="float: left;">
    <chart [options]="orderstatus"></chart>
  </div>
  <div style="float: left;">
    <chart [options]="orderstatus1"></chart>
  </div>
  <div style="float: left;">
    <chart [options]="orderstatus2"></chart>
  </div>
  <div>
  <chart [options]="orderstatus3"></chart>
</div>
</div>
<br>
<hr>
<div style="margin-top:20px" align="center">
<app-oder-status-bar></app-oder-status-bar>
</div>
<br>
<hr>
<!--<div style="margin-top:20px" align="center">
<app-lead-time-average></app-lead-time-average>

</div>-->






